*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
}

/*LEFT BAR*/
.left-bar{
    width: 250px;
    height: 90vh;
    background-color: black;
}

.left-bar .logo{
    width: 60%;
    margin: 1em 1em 2em 1em;
}

.left-bar .logo-small{
    width: 100%;
    margin: 1em 1em 2em 1em;
    display: none;
}

.selector{
    background-color: black;
    display: flex;
    padding: .5em 1em;
    align-items: center;
    border-left: 5px solid black;
}

.home{
    border-left: 5px solid yellowgreen;
}

.selector img{
    width: 15%;
    margin-right: .5em;
}
.selector span{
    font-weight: bold;
    color: white;
}

/*MAIN*/
.main{
    width: calc(100% - 250px);
    height: 90vh;
    padding-top: 10vh;
    background-color: green;
    overflow-y: auto;
}

/*TOP BAR*/
.top-bar{
    width: calc(100% - 250px);
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    color: white;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

.upgrade{
    color: white;
    border: 2px solid white;
    border-radius: 2em;
    padding: .5em 3em;
    text-decoration: none;
    top: 1em;
    right: 1em;
}
.upgrade:hover{
    transform: scale(1.1);
}

/*BOTTOM BAR*/
.bottom-bar{
    width: 100%;
    height: 10vh;
    background-color: red;
    position: fixed;
    bottom: 0;
}

/*TELEFONO*/
@media screen and (max-width:552px){
    .left-bar{
        width: 75px;
        padding: 20px;
    }
    .logo{
        display: none;
    }
    .logo-small{
        display: block;
    }

    .selector{
        padding: 0;
        border: 0;
    }
    .selector img{
        width: 100%;
        margin: .5em auto;
    }
    .selector span{
        display: none;
    }

    .main{
        width: calc(100% - 100px);
    }

   .top-bar{
        width: calc(100% - 100px);
   }

}
